{% extends "base.html" %}
{% block content %}
<div class="six columns">
    <h2 class="subheader">Login</h2>
    <a href='{{ twitter_url }}'><img src='/static/images/twitter-login.png' /></a>
</div>
<div class="six columns">
    <h2 class="subheader">What is Bit Trails?</h2>
    <p>Ever miss a night of sleep and wonder how much it affects your productivity? Ever wonder exactly how much your exercise routine is improving your life?</p>
    <p>Bit Trails will help you find the answers to these and other questions by analyzing your personal data streams. It helps you discover and take control of the hidden triggers in your life.</p>
</div>
{% endblock %}
