{% extends "base.html" %}
{% block content %}
<table class="table">
    <tr>
        <td>Client key</td>
        <td>{{ client_key }}</td>
    </tr>
    <tr>
        <td>Client secret</td>
        <td>{{ secret }}</td>
    </tr>
    <tr>
        <td>Application title</td>
        <td>{{ name }}</td>
    </tr>
    <tr>
        <td>Application description</td>
        <td>{{ description }}</td>
    </tr>
    <tr>
        <td>Callback URL</td>
        <td>{{ callback }}</td>
    </tr>
</table>
{% endblock %}
