{% extends "base.html" %}
{% block title %}Sign in{% endblock %}
{% block content %}
<div class="row collapse" style="margin: 0px;">
    <div class="six columns">
      <form action="" method="POST">
        {% if error %}<p class=error><strong>Error:</strong> {{ error }}</p>{% endif %}
        <div class="row collapse">
            <input type="text" name="openid" placeholder="Enter your OpenID URL" size="30" />
            <input type=hidden name=next value="{{ next }}">
            <button type="submit" class="button">Sign in</button>
        </div>
      </form>
    </div>
</div>
{% endblock %}
