{% extends "base.html" %}
{% block content %}
<div class="five columns">
    <h3>Create A New Client</h3>
    
    <form method="POST" action="{{ url_for('.register') }}">
        <label>Title </label><input type="text" name="name"/>
        <label>Description </label><input type="text" name="description"/>
        <label>Callback URI </label><input type="text" name="callback"/>
        <br/>
        <button type="submit" class="button">Register New Client</button>
    </form>
</div>

{% if clients %}
<div class="six columns">
    <h3>Registered Clients</h3>
    {% for client in clients %}
    <p>
        <strong>Name:</strong> {{ client.name }}<br />
        <strong>Key:</strong> {{ client.client_key }}<br />
        <strong>Secret:</strong> {{ client.secret }}
    </p>
    {% endfor %}
</div>
{% endif %}
{% endblock %}
