<!DOCTYPE html>
<html>
  <head>
    <title>Bit Trails - Cross the Streams</title>
    <link rel='stylesheet' href='/static/stylesheets/foundation.min.css' />
    <link rel='stylesheet' href='/static/stylesheets/base.css' />
    <link href='http://fonts.googleapis.com/css?family=Ubuntu:400,700' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    {% block extra_head %}{% endblock %}
  </head>
  <body>
    <nav class="top-bar" style="margin-bottom: 10px">
        <ul class="left">
            <li class="name"><h1><a href="#">Bit Trails <span class="subheader" style="color:white">Platform</span></a></h1></li>
          {% if request.path == url_for('.index') %} <li class="active"> {% else %} <li> {% endif %}
          <a href="{{ url_for('.index') }}">Overview</a> </li>
          {% if g.user %}
          {% if request.path == url_for('.edit_account') %} <li class="active"> {% else %} <li> {% endif %}
              <a href="{{ url_for('.edit_account') }}">Account</a> </li>
          {% if request.path == url_for('.register') %} <li class="active"> {% else %} <li> {% endif %}
          <a href="{{ url_for('.register') }}">Clients</a></li>
          {% endif %}
          
        </ul>
        <ul class="right">
          {% if g.user %}
          <li><a href="{{ url_for('.logout') }}">Sign Out [{{ g.user.name }}]</a>
          {% else %}
          <li><a href="{{ url_for('.login') }}">sign in</a>
          {% endif %}
        </ul>
    </nav>
    <div class="twelve columns">
        
        {% block content %}{% endblock %}
        </div>
    </body>
</html>
